<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <h3>interpolation <%=1+2%></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur obcaecati quo, beatae recusandae totam sapiente consequatur accusamus aliquam eaque ex.</p>
    <button>click me</button>
</body>
</html>